/*==================================*/
/*for mobiles and low resolution tablets ->*/
@media (max-width: 767px) {
	body {
		/* background-color: orange; */
		font-size: 0.9em;
		margin: 0px;
		padding-top: 30px;
	}

	/* START OF HEAD SECTION */
	#header{
		position:sticky;
		top: 0;
		background-color: rgb(238, 236, 236);
		box-shadow: 0px 2px 5px black;
		height: 80px;
		z-index:1;
	}
	.nav-options-picker{
		display: block;
		margin: 0;
	}
	#main-logo-div {
		display: flex;
		justify-content: center;
		margin-top: 10px
	}
	#main-logo-div img {
		width: 80px;
		height: 65px;
	}
	#top-nav {
		position:absolute;
		height: auto;
		margin-left: 20px;
		top:20px;
	}
	#top-nav ul {
		display: none;
		background-color: rgba(172, 222, 255, 0.856);
		width: 200%;
		height: fit-content;
		border-radius: 15px;
		padding:0px;
	}
	#top-nav ul li {
		background-color: rgb(172, 222, 255);
		/* border: 1px solid; */
		width: 100%;
		height: 2em;
		border-radius: 15px;
		margin: 0px 24px 24px 0px;
		padding: 8px 0px;
	}
	li a{
		display: block;
		width: 100%;
		height: 100%;
		padding-left: 10px;
	}
	#top-nav:hover ul{
		display: block;
	}
	#top-nav ul li:hover{
		background-color: white;
	}
	#top-nav ul li:hover a{
		text-decoration: none;
		font-weight: lighter;
	}
	#login-button-div {
		display: relative;
		margin-right:25px;
		float:right;
	}
	#login-button-div button {
		position: relative;
		top:-50px;
		width: 60px;
		height: 40px;
		border-radius: 15px;
		color: white;
	}
	/* START MAIN BODY SECTION */
	.main-body-section {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		z-index: -1;
	}
	.title-text {
		order: 1;
		font-size: 2em;
		width: 300px;
		padding-left: 3vw;
	}
	.what-we-do-div {
		order: 3;
		margin-top: 30px;
		border-color: solid;
		padding: 20px;
		width: 80%;
		align-self: center;
	}
	.what-we-do-div h4 {
		color: red;
	}
	.what-we-do-div button {
		width: 100px;
		height: 30px;
		color: white;
		border-radius: 13px;
		position: relative;
		right: -60%;
	}
	.mainimages-div {
		order: 2;
		align-self: center;
		position: relative;
	}
	.mainimages-div img {
		position: absolute;
		top: -150px;
		left: 40px;
		width: 33vw;
	}
	/* START OF BOTTOM-ITEMS SECTION */
	.bottom-items-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.bottom-items-section > * {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1.3em;
		width: fit-content;
		align-content: center;
		background-color: white;
		box-shadow: 0px 0px 8px black;
	}
	.bottom-items-section img {
		width: 150px;
		height: 150px;
	}
	.bottom-items-section button {
		margin-bottom: 10px;
	}
	.quality-service-div,
	.spacious-gym-div,
	.unique-programs-div,
	.group-classes-div {
		width: 65vw;
		height: 330px;
		margin: 15px 0px 20px 0px;
		padding: 5px;
	}
	/* FOOTER */
	footer {
		width: 100%;
		height: 100px;
	}

	/* animations  for mobile only view*/
	.what-we-do-div {
		animation: colorwheel 10s ease-in-out infinite;
	}
	@keyframes colorwheel {
		0% {
			border-color: black;
		}
		33% {
			border-color: blue;
		}
		66% {
			border-color: red;
		}
		100% {
			border-color: black;
		}
	}
}
