/*---DEFAULT SETTINGS FOR ALL SCREENS---*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    display: flex;
    flex-direction:column;
    /* align-content: center; */
}
/* div, nav, section{
    border: 1px solid black;
} */
button{
    font-size: 0.9em;
    background-color: rgba(64, 64, 233, 0.925);
}

.bottom-items-section img{
    width: 50px;
    height: auto;
}
.bottom-items-section h6{
    position: relative;
    margin-top:10px;
}
.bottom-items-section p{
    position: relative;
    margin-top:-15px;
}
.bottom-items-section button{
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: auto;
}

/*links*/
a:link{
    color:black;
    text-decoration:none;
  }
  a:visited{
  color:black;
  }
  s:focus{
    text-decoration: underline;
  }
  a:hover{
    text-decoration: underline;
    font-weight: bolder;
  }
  a:active{
    text-decoration: overline;
    font-weight: bolder;
    color: rgb(11, 90, 239);
  }

/* 
Media Query sizes  bellow are copied from Geeks for geeks: 
https://www.geeksforgeeks.org/how-to-target-desktop-tablet-and-mobile-using-media-query/
on Monday october 31st 2022
*/
    

/*==================================*/
/* Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
} */
 

/*==================================*/
/* Large screens 
(min-width: 1281px) */
@media (min-width: 1025px) {
    body {
        background-color: white;
        margin:0px;
    }
    h1{
        font-size: 3em;
    }

    /*---START OF HEADER SECTION---*/
    #header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom:80px;
        margin-top:60px;
    }
    #main-logo-div{
        flex:1;
        padding: 0% 5% 0% 5%;
    }
    #top-nav{
        flex:4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #login-button-div{
        flex:2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #header img{
        width: 100px;
        height: auto;
    }
    #header ul{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        max-width: 90%;
    }
    #header li{
        padding-right:20px;
    }
    
    #header button{
        color: white;
        border: none;
        border-radius: 10px;
        width: 80px;
        height: 40px;
        font-weight: bolder;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.833);
    }
    /*---END OF HEADER---*/

    /*---START OF MAIN BODY SECTION---*/
    .main-body-section{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-auto-rows: minmax(10vw, auto);
        margin-bottom: 100px;
    }
    .title-text{
        grid-column: 1 / 2 ;
        padding-left: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainimages-div{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainimages-div img{
        width: 25vw;
        height: auto;
    }
    .what-we-do-div{
        grid-column: 1 / 2;
        padding-left: 70px;
    }
    .what-we-do-div h4{
        color: rgb(240, 54, 54)
    }
    .what-we-do-div button{
        color: white;
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 40px;
        font-weight: bolder;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.833);
    }
    /*---END OF MAIN BODY SECTION---*/

    /*---START OF BOTTOM ITEMS SECTION---*/
    .bottom-items-section{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: 20px;
        background-color: rgb(219, 216, 216);
        width: 80%;
        height: 270px;
        border-radius: 30px;
        margin-bottom: 80px;
    }
    /* .bottom-items-section img{
        width: 50px;
        height: auto;
    }
    .bottom-items-section h6{
        position: relative;
        margin-top:10px;
    }
    .bottom-items-section p{
        position: relative;
        margin-top:-15px;
    }
    .bottom-items-section button{
        color: white;
        border: none;
        border-radius: 10px;
        width: 80px;
        height: auto;
    } */
    .quality-service-div, .spacious-gym-div, .unique-programs-div, .group-classes-div{
        width: 200px;
        height: 200px;
        margin:0px 8px 0px 8px;
        border-radius: 20px;
        padding:5px;
    }
    .bottom-items-section div:hover{
        background-color: white;
        width: 215px;
        height:215px;
    }
    /*---END OF BOTTOM ITEMS SECTION---*/

    /*---START OF FOOTER SECTION---*/
    #footer{
        align-self:center;
        margin-top: 30px;
        height: 300px;
        width: 100%;
        background-color: rgb(233, 232, 232);
    }
    /*---END OF FOOTER SECTION---*/

    /* ---START OF ANIMATIONS--- */
    
    /*---END OF ANIMATIONS---*/
}


/*---GENERAL ANIMATIONS---*/
button:hover{
    background-color: rgb(255, 151, 15);
}
button:active{
    box-shadow: 3px 3px 3px rgb(255, 0, 0);
}